* {
    margin: 0;
    padding-top: 0;
}
body {
    background-color: #44c5e5;
}
p, a, h1{
    font-family: 'Courier New', Courier, monospace;
}


/*********************Menu header************************/


header {
    display: flex;
    justify-content: space-between;
    background-color: black;

}
header p{
    color: white;
    text-align: center;
    font-size: 15px;
}
header a {
    text-decoration: none;
    color:  #44c5e5;
    box-sizing: content-box;
    border: solid  #44c5e5 3px;
    padding: 10px 50px;
    margin: 10px 0 20px 0;
    background-color: black;

    
}
header a:hover{
    background-color: springgreen;
    color: black;
    border-color: #44c5e5;
    border-bottom: transparent;
}

/*********************Menu burger des sondages************************/


#burger {
    display: flex;
    flex-direction: column;
}
#burger a{
    text-decoration: none;
    color:  #44c5e5;
    box-sizing: content-box;
    border: solid  #44c5e5 3px;
    opacity: 70%;
    border-top: 8px solid transparent;
    font-style: italic;

    padding: 15px 100px;
    margin: 40px 0 40px -15%;
    width: 40%;
    text-align: center;
    text-transform: uppercase;

    background-color: black;
}
#sondageV:hover{
    transition-duration: 0.5s;
    font-weight: bold;
    background-color: springgreen;
    color: black;
    border-color: black;
    padding: 20px 100px;
    margin: 40px 0 40px 0%;
    opacity: 1;


}
#sondageR:hover{
    transition-duration: 0.5s;
    background-color: red;
    color: black;
    border-color: black;
    padding: 17px 100px;
    margin: 40px 0 40px -12%;

}

/*********************Reste de la page index************************/


img{
    width: 400px;
    height: 250px;
    
}
#img {
    box-sizing: content-box;
    border: solid black 2px;
    border-bottom: transparent;
    opacity: 0.7;
    align-items: flex-end;

}
#img:hover{
    opacity: 1;
    transition-duration: 0.5s;
}
#img p {
    text-align: center;
}
#sectionR{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/******************************PAGE SONDAGE*********************/

h1{
    margin: 50px;
    text-align: center;
}
hr {
    height: 1px;
    size: 3px;
    width: 70%;
    background-color: black;
    margin: auto;
}
#sondage{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#sondage p {
        font-weight: bold;
        font-size: 20px;
}
form{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
input {
    margin: 10px;
}

/*******************PAGE CLASSEMENT*********************/

#joueur{
    background-color: red;
}
#resultat{
    display: flex;
    justify-content: center;
}
table, th, td{
    font-size: 30px;
    width: 50%;
    border: 1px solide black;
}


/****************Responsive 1000px******************/
@media screen and (max-width: 1000px) { 
    header p{
        font-size: 13px;
    }
    header a {
        border: solid  #44c5e5 2px;
        padding: 8px 35px;        
    }
    #sondage{
        margin: 40px;
    }
    #sondage p {
            font-size: 15px;
    }
    table, th, td{
        font-size: 25px;
    }
  } 

/****************Responsive 700px******************/

  @media screen and (max-width: 700px) { 
    header p{
        font-size: 12px;
        margin: 10px;
    }
    header a {
        border: solid  #44c5e5 1px;
        padding: 30px 0px 20px 0px;    
        text-align: center;    
    }
    #sondage{
        margin: 40px;
    }
    #sondage p {
            text-align: center;
            font-size: 15px;
    }
    table, th, td{
        font-size: 18px;
        width: 100%;
    }
    h1{
        font-size: 20px;
        font-weight: bold;
    }
    #sectionR{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    img{
        width: 300px;
        height: 200px;
        
    }
  } 